<!DOCTYPE html>
<html>
<head>
    <title>The Nook - Big Dig bingo</title>
    <link rel="stylesheet" href="css/bingocard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bingocard.js"></script> 
</head>
<body>
    <div id="bookmarkReminder">Bookmark this page or write down the 5-character code<BR>to access your bingo card in the future!</div>
    <table>
        <tr class="grass">
            <td id="title">
                <div>
                    <img src="images/logo-grey.png">
                </div>
            </td>
        </tr>
        <tr class="dirt">
            <td>
                <table id="bingoTable">
                    <tr id="bingoLine">
                        <th>
                            <span>
                                B
                            </span>
                        </th>
                        <th>
                            <span>
                                I
                            </span>
                        </th>
                        <th>
                            <span>
                                N
                            </span>
                        </th>
                        <th>
                            <span>
                                G
                            </span>
                        </th>
                        <th>
                            <span>
                                O
                            </span>
                        </th>
                    </tr>
                    <% for (var i = 0; i < 5; i++) {%>
                        <tr>
                            <% for (var j = 0; j < 5; j++) {%>
                                <td>
                                    <%=cellvalues[i][j] %>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                    <tr id="saveTR">
                        <td colspan="5">
                            <button id="saveButton" onclick="saveMarked()">Save</button>
                        </td>
                    </tr>
                </table>
                <div id="markedOverlay">
                    <% for (var row = 0; row < 5; row++) {%>
                        <% for (var col = 0; col < 5; col++) {%>
                            <div>
                                <img height="100%" src="images/marked.png" class="<%= marked[row][col] %>" >
                            </div>
                        <% } %>
                    <% } %>
                </table>
            </td>
        </tr>
    </table>
    <svg id="cellSvg">
        <% for (var row = 0; row < 5; row++) {%>
            <% for (var col = 0; col < 5; col++) {%>
                <rect x="calc(20.1% * <%= col %>)" y="calc(20.1% * <%= row %>)" onclick="changeMarked(<%= row %>, <%= col %>)" />
            <% } %>
        <% } %>
    </svg>
</body>
</html>